<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257480799657-89v5u1h1mf1nj6bgs8b66anj609nvlj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257480799657-89v5u1h1mf1nj6bgs8b66anj609nvlj7</string>
	<key>API_KEY</key>
	<string>AIzaSyAgVY4vEIDBl2OBAEwutrybHq81oSxU8bI</string>
	<key>GCM_SENDER_ID</key>
	<string>257480799657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fire-base-tutorial</string>
	<key>PROJECT_ID</key>
	<string>test-1eb8f</string>
	<key>STORAGE_BUCKET</key>
	<string>test-1eb8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257480799657:ios:84f5fbc26887eb86c540b8</string>
	<key>DATABASE_URL</key>
	<string>https://test-1eb8f-default-rtdb.firebaseio.com</string>
</dict>
</plist>